@value makerGreen from '/src/common/colors.css';
@value makerWhite from '/src/common/colors.css';

.footerContainer {
  background-color: makerGreen;
  width: 100%;
  text-align: center;
}

.footerText {
  color: makerWhite;
}
